* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

.checkbox {
  input {
    border: 1px solid #495057bf;
  }
}

.shadow-01 {
  box-shadow: rgba(15, 34, 58, 0.12) 0px 2px 4px 0px;
}
.form-input:focus {
  border-color: transparent;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollable.scrolling::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.scrollable.scrolling::-webkit-scrollbar-thumb {
  background: #e7ebef;
}
